<div class="row">
    <div class="col s12">
      <div id="input-fields" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
              <div class="row" style="border-bottom: 1px solid #7b1fa2;">
                  <div class="col s12 m6 l10">
                    <h4 class="card-title">Add / Edit Client</h4>
                  </div>
                </div>
            <div class="row" style="margin-top:30px;">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input  id="name" type="text" class="validate">
                    <label for="name">Client Name</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <input  id="Phone" type="text" class="validate">
                      <label for="Phone"> Phone No</label>
                    </div>
                    <div class="input-field col s6">
                        <input  id="Website" type="text" class="validate">
                        <label for="Website"> Website Url</label>
                      </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input  id="Facebook" type="text" class="validate">
                        <label for="Facebook"> Facebook</label>
                      </div>
                      <div class="input-field col s6">
                          <input  id="Youtube" type="text" class="validate">
                          <label for="Youtube"> Youtube</label>
                        </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s6">
                          <input  id="Instagram" type="text" class="validate">
                          <label for="Instagram"> Instagram</label>
                        </div>
                        <div class="input-field col s6">
                            <input  id="Twitter" type="text" class="validate">
                            <label for="Twitter"> Twitter</label>
                          </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input  id="Pininterest" type="text" class="validate">
                            <label for="Pininterest"> Pininterest</label>
                          </div>
                          <div class="input-field col s6">
                              <input  id="Linkdin" type="text" class="validate">
                              <label for="Linkdin"> Linkdin</label>
                            </div>
                      </div>
                <div class="row">
                  <p>
                    <label>
                      <input type="checkbox" />
                      <span>Active</span>
                    </label>
                  </p>
                </div>
                <div class="row">
                  <div class="col s12">
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                      <li class="">
                        <div class="collapsible-header" tabindex="0"><i class="material-icons">arrow_upward</i>
                          Clients Services</div>
                        <div class="collapsible-body" style="">
                          <div class="row">
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>All</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3" style="clear: both">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Service 1</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Service 2</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Service 3</span>
                                </label>
                              </p>
                            </div>
  
  
  
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Service 4</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Service 5</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Service 6</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Service 7</span>
                                </label>
                              </p>
                            </div>

                            <div class="col s3">
                                <p>
                                  <label>
                                    <input type="checkbox" />
                                    <span>Service 8</span>
                                  </label>
                                </p>
                              </div>
                              <div class="col s3">
                                <p>
                                  <label>
                                    <input type="checkbox" />
                                    <span>Service 9</span>
                                  </label>
                                </p>
                              </div>
                              <div class="col s3">
                                <p>
                                  <label>
                                    <input type="checkbox" />
                                    <span>Service 10</span>
                                  </label>
                                </p>
                              </div>
                              <div class="col s3">
                                <p>
                                  <label>
                                    <input type="checkbox" />
                                    <span>Service 11</span>
                                  </label>
                                </p>
                              </div>
                              <div class="col s3">
                                  <p>
                                    <label>
                                      <input type="checkbox" />
                                      <span>Service 12</span>
                                    </label>
                                  </p>
                                </div>
                          </div>
                        </div>
                      </li>
  
                    </ul>
                  </div>
                </div>
                <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1" style="margin-left: 8px">Close</a>
                <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1">Save</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>