<div class="row">
    <div class="col s12">
      <div id="input-fields" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
              <div class="row" style="border-bottom: 1px solid #7b1fa2;">
                  <div class="col s12 m6 l10">
                    <h4 class="card-title">Add / Edit Client Staff</h4>
                  </div>
                </div>
            <div class="row" style="margin-top:30px;">
              <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <select>
                          <option value="" disabled selected>Choose your option</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>Client</label>
                      </div>
                  <div class="input-field col s6">
                    <input  id="name" type="text" class="validate">
                    <label for="name"> Name</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input  id="Designation" type="text" class="validate">
                        <label for="Designation"> Designation</label>
                      </div>
                      <div class="input-field col s6">
                          <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                          <label>Role</label>
                        </div>
                </div>

                <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field col s6">
                      <input  id="Phone" type="text" class="validate">
                      <label for="Phone"> Phone No</label>
                    </div>
                </div>


                <div class="row">
                  <p>
                    <label>
                      <input type="checkbox" />
                      <span>Active</span>
                    </label>
                  </p>
                </div>
                <div class="row">
                  <div class="col s12">
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                      <li class="">
                        <div class="collapsible-header" tabindex="0"><i class="material-icons">arrow_upward</i> User
                          Clients</div>
                        <div class="collapsible-body" style="">
                          <div class="row">
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>All</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Category 1</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Category 2</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Category 3</span>
                                </label>
                              </p>
                            </div>
  
  
  
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Category 4</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Category 5</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Category 6</span>
                                </label>
                              </p>
                            </div>
                            <div class="col s3">
                              <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Category 7</span>
                                </label>
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
  
                    </ul>
                  </div>
                </div>
                <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1" style="margin-left: 8px">Close</a>
                <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1">Save</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>