<div class="row">
  <div class="col s12">
    <div id="input-fields" class="card card-tabs">
      <div class="card-content">
        <div class="card-title">
          <div class="row" style="border-bottom: 1px solid #7b1fa2;">
            <div class="col s12 m6 l10">
              <h4 class="card-title">Add / Edit Service</h4>
            </div>
          </div>
          <div class="row" style="margin-top:30px;">
            <form class="col s12" [formGroup]="serviceForm">
              <div class="row">
                <div class="col s2"></div>
                <div class="input-field col s6">
                  <input id="Service" type="text" class="validate" formControlName="serviceName">
                  <label for="Service"> Service</label>
                </div>
              </div>
              <div class="row">
                <div class="col s2"></div>
                <div class="input-field col s6">
                  <select formControlName="serviceType">
                    <option [ngValue]="type" *ngFor="let type of serviceTypes">{{type.ServiceTypeName}}</option>
                  </select>
                  <label>Service Type</label>
                </div>
              </div>
              <div class="row">
                <div class="col s2"></div>
                <p>
                  <label>
                    <input type="checkbox" formControlName="active" />
                    <span>Active</span>
                  </label>
                </p>
              </div>
              <div class="row">
                <div class="input-field col s8">
                  <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
                    style="margin-left: 8px" (click)="onClickClose()">Close</a>
                  <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
                    (click)='saveService()' [ngClass]="{'disabled': serviceForm.invalid}">Save</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
