<!-- Page Length Options -->
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h4 class="card-title">Services
        </h4>
        <div class="row">
          <div class="col s4">
            <div class="input-field col s12">
              <select>
                <option [ngValue]="type" *ngFor="let type of serviceTypes">{{type.ServiceTypeName}}</option>
              </select>
              <label>Service Type</label>
            </div>
          </div>
          <div class="col s4">
            <div class="input-field col s12">
              <input id="Service" type="text" class="validate">
              <label for="Service"> Service</label>
            </div>
          </div>
          <div class="col s4">
            <div class="input-field col s8">
              <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1" style="margin-left: 8px"
                (click)="onClickSearch()">Search</a>
            </div>
          </div>
        </div>
        <div class="row" style='padding-left:10px;'>
            <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn"
            [routerLink]="['/maindash','newservices']"><i class="material-icons hide-on-med-and-up">settings</i><span
              class="hide-on-small-onl">Add New Service</span></a>
        </div>
        <div class="row">
          <div class="col s12">
            <table id="page-length-option" class="display">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Service Type</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of serviceList">
                  <td>{{service.ServiceName}}</td>
                  <td>{{service.ServiceTypeId}}</td>
                  <td>{{service.EventStatus}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
