<style>
  .select-wrapper input.select-dropdown{
    display: none !important;
  }
  select {
    display: block;
  }
  .select-wrapper .caret {
    top: 52px;
    right: -3px;
  }
  </style>

<div class="row" style="margin-top:30px;">
  <form class="col s12" [formGroup]="frmUser">
     
     
      <div class="row">
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected>Choose Role</option>
              <option value="1">All</option>
              <option value="2">Coordinator</option>
              <option value="3">DM Excutive</option>
            </select>
              <label for="Role"> Role</label>
          </div>
          <div class="input-field col s6">
              <input id="User" formControlName="guests" type="text" class="validate">
              <label for="User"> User Name</label>
          </div>

      </div>
      <button type="submit" (click)="OngetEvents()" class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
          style="margin-left: 8px">Search</button>
  </form>
</div>


<!-- Page Length Options -->
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h4 class="card-title">Users List
          <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" 
          [routerLink]="['/maindash','newuser']"><i class="material-icons hide-on-med-and-up">settings</i><span
              class="hide-on-small-onl">Add New User</span></a>

        </h4>
        <div class="row">
          <div class="col s12">
            <table id="page-length-option" class="display">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh@gmail.com</td>
                  <td>61857496321</td>
                  <td>Active</td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

