<div class="row">
  <div class="col s12">
    <div class="container"><div id="login-page" class="row">
<div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
      autocomplete="off" novalidate>
  <div class="row">
    <div class="input-field col s12">
      <h5 class="ml-4">Sign in</h5>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-2">person_outline</i>
      <input id="username" type="text" formControlName="userName">
      <div class="invalid-feedback  col s12">
        <span class="float-right" 
        *ngIf="frm.userName.errors && (isSubmitted || frm.userName.dirty)">Required</span>
      </div>
      <label for="username" class="center-align">Username</label>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-2">lock_outline</i>
      <input id="password" type="password" formControlName="password">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 ml-2 mt-1">
      <p>
        <label>
          <input type="checkbox" />
          <span>Remember Me</span>
        </label>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button type="submit"   class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Login</button>
      <div class="invalid-feedback">
        {{error}}
      </div>
    </div>
    
  </div>
  <!-- <div class="row">
    <div class="input-field col s6 m6 l6">
      <p class="margin medium-small"><a href="javascript():void">Register Now!</a></p>
    </div>
    <div class="input-field col s6 m6 l6">
      <p class="margin right-align medium-small"><a href="javascript():void">Forgot password ?</a></p>
    </div>
  </div> -->
</form>
</div>
</div>
    </div>
  </div>
</div>

