<style>
        .select-wrapper input.select-dropdown {
            display: none !important;
        }
    
        select {
            display: block;
        }
    
        .select-wrapper .caret {
            top: 52px;
            right: -3px;
        }
    </style>

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="col s12">
        <div class="container">
            <!-- Current balance & total transactions cards-->
            <div class="row" *ngIf="summmery">
                  <div class="col s12 m6 l4">
                          <div class="card padding-4 animate fadeLeft">
                              <div class="col s5 m5">
                                  <h5 class="mb-0" style="font-size: 40px;">{{summmery.Column1}}</h5>
                              </div>
                              <div class="col s7 m7 right-align">
                                  <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">perm_identity</i>
                              </div>
                              <p class="mb-0"> DM Completed</p>
                          </div>
                          </div>
                          <div class="col s12 m6 l4">
                                  <div class="card padding-4 animate fadeLeft">
                                      <div class="col s5 m5">
                                          <h5 class="mb-0" style="font-size: 40px;">{{summmery.Column2}}</h5>
                                      </div>
                                      <div class="col s7 m7 right-align">
                                          <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">grade</i>
                                      </div>
                                      <p class="mb-0"> Submited For DM</p>
                                  </div>
                                  </div>
  
                                  <div class="col s12 m6 l4">
                                  <div class="card padding-4 animate fadeLeft">
                                      <div class="col s5 m5">
                                          <h5 class="mb-0" style="font-size: 40px;">{{summmery.Column3}}</h5>
                                      </div>
                                      <div class="col s7 m7 right-align">
                                          <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">compare</i>
                                      </div>
                                      <p class="mb-0">Complete Not Submited For DM</p>
                                  </div>
                                  </div>
  
                                  <div class="col s12 m6 l6">
                                          <div class="card padding-4 animate fadeLeft">
                                              <div class="col s5 m5">
                                                  <h5 class="mb-0" style="font-size: 40px;">{{summmery.Column4}}</h5>
                                              </div>
                                              <div class="col s7 m7 right-align">
                                                  <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">refresh</i>
                                              </div>
                                              <p class="mb-0">In-Prgress</p>
                                          </div>
                                          </div>
                                          <div class="col s12 m6 l6">
                                                  <div class="card padding-4 animate fadeLeft">
                                                      <div class="col s5 m5">
                                                          <h5 class="mb-0" style="font-size: 40px;">{{summmery.Column5}}</h5>
                                                      </div>
                                                      <div class="col s7 m7 right-align">
                                                          <i class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">check_box</i>
                                                      </div>
                                                      <p class="mb-0">Upcomming</p>
                                                  </div>
                                                  </div>
            </div>
            <!--/ Current balance & total transactions cards-->
  
            <div class="row" style="margin-top:30px;">
                <form class="col s12" [formGroup]="EventCoordinater">

                        <div class="row">
                                <div class="input-field col s6">
                                    <select formControlName="eventStatusId">
                                        <option value=""  selected>Choose  Clients</option>
                                        <option *ngFor="let client of clients" value="1">{{client.ClientName}}</option>
                                    </select>
                                    <label></label>
                                </div>
                                <div class="input-field col s6">
                                        <input id="From" formControlName="startDate_From" type="date" class="datepicker" class="validate">
                                        <label for="From"> From Date</label>
                                    </div>
                        </div>



                    <div class="row s6">
                            <div class="ng-autocomplete" style="float: left; margin-top: 20px; width: 50%;">
                                    <ng-autocomplete #ngAutoCompleteStatic
                                                     [data]="countriesReactive"
                                                     formControlName="eventName"
                                                     [initialValue]=""
                                                     [placeHolder]="placeholder"
                                                     [searchKeyword]="keyword"
                                                     (inputChanged)='onChangeSearch($event)'
                                                     historyIdentifier="countriesReactiveList"
                                                     [historyHeading]="historyHeading"
                                                     historyListMaxNumber="3"
                                                     notFoundText="Not found"
                                                     [itemTemplate]="itemTemplateStatic"
                                                     [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                          
                                    <ng-template #itemTemplateStatic let-item>
                                      <a [innerHTML]="item"></a>
                                    </ng-template>
                          
                                    <ng-template #notFoundTemplate let-notFound>
                                      <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  </div>
                        <!-- <div class="input-field col s6">
                                <input id="Event" formControlName="eventName" type="text" class="validate">
                            <label for="Event">Event</label>
                        </div> -->
                        <div class="input-field col s6">
                                <input id="To" formControlName="startDate_To" type="date" class="datepicker" class="validate">
                                <label for="To"> To Date</label>
                            </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <select formControlName="eventStatusId">
                                <option value=""  selected>Choose  Status</option>
                                <option *ngFor="let status of Status" value="1">{{status.EventStatus}}</option>
                            </select>
                            <label></label>
                        </div>
                        <div class="input-field col s6">
                                <input id="Guest" formControlName="guests" type="text" class="validate">
                                <label for="Guest"> Guest</label>
                            </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="Venue" formControlName="Venue" type="text" class="validate">
                            <label for="Venue"> Venue</label>
                        </div>
                    </div>
                    <button type="submit" (click)="OngetEvents()" class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
                        style="margin-left: 8px">Search</button>
                </form>
                </div>
  
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card subscriber-list-card animate fadeRight">
                        <div class="card-content pb-1">
                            <h4 class="card-title mb-0">DM Excutive Event
                                  <!--  <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                                    [routerLink]="['/maindash','dmnew']"><i
                                        class="material-icons hide-on-med-and-up">settings</i><span
                                        class="hide-on-small-onl">Add New Event</span></a>-->
                            </h4>
                        </div>
                        <table class="subscription-table responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Client</th>
                                    <th>Event</th>
                                    <th>Coordinator</th>
                                    <th>Coord-Phone</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th> Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let grid of eventgriddata">
                                    <td><a [routerLink]="['/maindash','dmexcutivenet',grid.EventId]">
                                    {{grid.EventId}}</a></td>
                                    <td>E{{grid.EventName}}</td>
                                    <td>{{grid.CoordinatorName}}</td>
                                    <td>{{grid.CoordinatorContactNo}}</td>
                                    <td>{{grid.StartDateTime}}</td>
                                    <td>{{grid.EndDateTime}}</td>
                                    <td><span class="badge pink lighten-5 pink-text text-accent-2">{{grid.EventStatus}}</span></td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  
  