<style>
    .select-wrapper input.select-dropdown{
      display: none !important;
    }
    select {
      display: block;
    }
    .select-wrapper .caret {
      top: 52px;
      right: -3px;
    }
    .image{
      margin: 5px;
    border: 1px solid #e2e2e2;
    }
    .marginzero{
      margin: 4px 0px 4px 0px;
    }
    </style>
    <div class="row" style="background: #9c27b0 ;">
        <div class="col s12 m6 l10">
          <h4 class="card-title" style="font-size: 20px; color:#ffffff">DM Excutive</h4>
        </div>
      </div>
      <form class="col s12" [formGroup]="frmDmExcutive">
         
      <div class="row">
        <div class="col s6 m6" style="background: #eeeeee">
            <div class="col s12 m12 l12" style="border-bottom: 1px solid #7b1fa2;">
                <h4 class="card-title" style="font-size: 20px; margin: .5rem 0 .5rem 0;">By Coordiantor</h4>
              </div>
              

              <div class="input-field col s12">
                  <input id="EName"  type="text" formControlName="C_eventName" class="validate" readonly>
                  <label for="EName" class="active"> Event Name</label>
                </div>

                <div class="input-field col s12">
                    <input id="Category"  type="text" formControlName="C_eventCategoryId" class="validate" readonly>
                    <label for="Category" class="active">Category</label>
                  </div>

                  <div class="input-field col s12">
                      <input id="Start"  type="text" formControlName="C_startDateTime" class="validate" readonly>
                      <label for="Start" class="active"> Start Date</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="End"  type="text" formControlName="C_endDateTime" class="validate" readonly>
                        <label for="End" class="active"> End Date</label>
                      </div>

                      <div class="input-field col s12">
                          <input id="Venue"  type="text" formControlName="C_venue" class="validate" readonly>
                          <label for="Venue" class="active"> Venue</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="Guest"  type="text" formControlName="C_guests" class="validate" readonly>
                            <label for="Guest" class="active"> Guest</label>
                          </div>


                          <div class="input-field col s12">
                              <input id="Spekers"  type="text" formControlName="C_speakers" class="validate" readonly>
                              <label for="Spekers" class="active"> Speakers</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="Participants" formControlName="C_participants"  type="text" class="validate" readonly>
                                <label for="Participants" class="active"> Participants</label>
                              </div>

                              <div class="input-field col s12">
                                  <textarea id="Desciption" formControlName="C_desciption"  class="materialize-textarea" readonly></textarea>
                                  <label for="Desciption" class="active"> Description</label>
                                </div>

                                <div class="input-field col s12">
                                    <input id="Photo" formControlName="C_photoUploadedPath"  type="text" class="validate" readonly>
                                    <label for="Photo" class="active"> Photo Path</label>
                                  </div>

                                  <div class="input-field col s12">
                                      <input id="Video" formControlName="videoUploadedPath"  type="text" class="validate" readonly>
                                      <label for="Video" class="active"> Video Path</label>
                                    </div>
        </div>
     
        <div class="col s6 m6">
            <div class="col s12 m12 l12" style="border-bottom: 1px solid #7b1fa2;">
                <h4 class="card-title" style="font-size: 20px; margin: .5rem 0 .5rem 0;">By DM Excutive</h4>
              </div>

              <div class="input-field col s12">
                  <input id="DEName" formControlName="EventName" type="text" class="validate">
                  <label for="DEName"> Event Name</label>
                </div>

                <div class="input-field col s12">
                    <select formControlName="EventCategoryId">
                        <option value="" disabled selected>Choose Category</option>
                        <option *ngFor="let cat of Category" value="1">{{cat.CategoryName}}</option>
                    </select>
                    <label for="DCategory"></label>
                  </div>


                  <div class="input-field col s12">
                      <input id="DStart"  formControlName="StartDateTime"  type="date" class="datepicker" class="validate">
                      <label for="DStart"> Start Date</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="DEnd" formControlName="EndDateTime" type="date" class="datepicker" class="validate">
                        <label for="DEnd"> End Date</label>
                      </div>

                      <div class="input-field col s12">
                          <input id="DVenue" formControlName="Venue" type="text" class="validate">
                          <label for="DVenue"> Venue</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="DGuest" formControlName="Guests" type="text" class="validate">
                            <label for="DGuest"> Guest</label>
                          </div>


                          <div class="input-field col s12">
                              <input id="DSpekers" formControlName="Speakers" type="text" class="validate">
                              <label for="DSpekers"> Spekers</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="DParticipants" formControlName="Participants" type="text" class="validate">
                                <label for="DParticipants"> Participants</label>
                              </div>
                              <div class="input-field col s12">
                                  <textarea id="DMDesciption" formControlName="eventDescription" class="materialize-textarea"></textarea>
                                  <label for="DMDesciption"> Desciption</label>
                                </div>
                              

        </div>

        <div class="col s12">
            <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
              <li class="">
                <div class="collapsible-header" tabindex="0"><i class="material-icons">arrow_upward</i>
                  Services Opted For this Event</div>
                <div class="collapsible-body" >
                  <div class="row">
                      <div class="input-field col s12">
                        <div class="col s2">
                          <label for="GiftPen" > Gift-Pen</label>
                        </div>
                        <div class="col s8">
                        <input type="file" (change)="onSelectFile($event)" class="col s8" multiple>
                        </div>
                        </div>
                        <img *ngFor="let url of urls" [src]="url" class="image" height="150"/>

                        <div formArrayName="multitext">
                          <div class="input-field col s8 marginzero" *ngFor="let lan of frmDmExcutive.controls.multitext.controls; let i=index">
                      <div class="input-field col s8 marginzero">
                          <input id="Facebook{{i+1}}" formControlName="Facebook"  type="text" class="validate s8">
                          <label for="Facebook{{i+1}}"> Facebook {{i+1}}</label>
                        </div>
                        <div class="input-field col s4 marginzero">
                        <span style="margin-top: 25px;float: left;"><a (click)="addLanguages()">Add</a> | 
                          <a (click)="removeLonguages(i)">Remove</a>  </span>
                        </div>
                        </div>
                      </div>

                            <div class="input-field col s12">
                                <textarea id="Comments" formControlName="DMComments" class="materialize-textarea"></textarea>
                                <label for="Comments">DM Comments</label>
                              </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>


          <div class="col s12">
              <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                <li class="">
                  <div class="collapsible-header" tabindex="0"><i class="material-icons">arrow_upward</i>
                    Release Lock For Coordiantor</div>
                  <div class="collapsible-body" style="display: block">
                    <div class="row">
                        <table class="subscription-table responsive-table highlight">
                            <thead>
                                <tr>
                                    <th style="width:180px">Released On</th>
                                    <th style="width:180px">Released By</th>
                                    <th>Released Reson</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>09-09-2019</td>
                                    <td>User 1</td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and 
                                      typesetting industry. Lorem Ipsum has been the industry's standard</td>
                                </tr>
                                <tr>
                                    <td>10-09-2019</td>
                                    <td>User 2</td>
                                    <td>Lorem Ipsum is simply dummy text of the printing and 
                                      typesetting industry. Lorem Ipsum has been the industry's standard</td>
                                </tr>
    
                            </tbody>
                        </table>
                        <div class="input-field col s12">
                            <textarea id="Comments" formControlName="eventLockReleaseReason" class="materialize-textarea"></textarea>
                            <label for="Comments">Release Lock Reason</label>
                          </div>
                      </div>
                    </div>
                  </li>
    
                </ul>
              </div>

          <button type="submit" class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
          style="margin-left: 8px" (click)="onClose()">Close</button>

          <button type="submit" class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
          style="margin-left: 8px" (click)="onDMComplete()">DM Complete</button>
          
          <button type="submit" (click)="onSave()" class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
          style="margin-left: 8px">Save</button>
         

      </div>
      </form>

      

    