<div class="row">
  <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
  <div class="col s12">
    <div class="container">
      <!-- Current balance & total transactions cards-->
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card padding-4 animate fadeLeft">
            <div class="col s5 m5">
              <h5 class="mb-0" style="font-size: 40px;">300</h5>
            </div>
            <div class="col s7 m7 right-align">
              <i
                class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">perm_identity</i>
            </div>
            <p class="mb-0"> DM Completed</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card padding-4 animate fadeLeft">
            <div class="col s5 m5">
              <h5 class="mb-0" style="font-size: 40px;">200</h5>
            </div>
            <div class="col s7 m7 right-align">
              <i
                class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">grade</i>
            </div>
            <p class="mb-0"> Submited For DM</p>
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card padding-4 animate fadeLeft">
            <div class="col s5 m5">
              <h5 class="mb-0" style="font-size: 40px;">200</h5>
            </div>
            <div class="col s7 m7 right-align">
              <i
                class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">compare</i>
            </div>
            <p class="mb-0">Complete Not Submited For DM</p>
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card padding-4 animate fadeLeft">
            <div class="col s5 m5">
              <h5 class="mb-0" style="font-size: 40px;">100</h5>
            </div>
            <div class="col s7 m7 right-align">
              <i
                class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">refresh</i>
            </div>
            <p class="mb-0">In-Prgress</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card padding-4 animate fadeLeft">
            <div class="col s5 m5">
              <h5 class="mb-0" style="font-size: 40px;">80</h5>
            </div>
            <div class="col s7 m7 right-align">
              <i
                class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">check_box</i>
            </div>
            <p class="mb-0">Upcomming</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card padding-4 animate fadeLeft">
            <div class="col s5 m5">
              <h5 class="mb-0" style="font-size: 40px;">80</h5>
            </div>
            <div class="col s7 m7 right-align">
              <i
                class="material-icons background-round mt-5 mb-5 gradient-45deg-purple-amber gradient-shadow white-text">gesture</i>
            </div>
            <p class="mb-0">Upcomming</p>
          </div>
        </div>

      </div>
      <!--/ Current balance & total transactions cards-->

      <div class="row" style="margin-top:30px;">
        <form class="col s12">
          <div class="row s6">
            <div class="input-field col s6">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>Client</label>
            </div>
            <div class="input-field col s6">
              <input id="From" type="text" class="validate">
              <label for="From"> From Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>Event</label>
            </div>
            <div class="input-field col s6">
              <input id="To" type="text" class="validate">
              <label for="To"> To Date</label>
            </div>

          </div>

          <div class="row">
            <div class="input-field col s6">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>Status</label>
            </div>
            <div class="input-field col s6">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>User</label>
            </div>
          </div>
          <a class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
            style="margin-left: 8px">Search</a>
        </form>
      </div>

      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card subscriber-list-card animate fadeRight">
            <div class="card-content pb-1">
              <h4 class="card-title mb-0">Client Admin Event<i class="material-icons float-right">more_vert</i></h4>
            </div>
            <table class="subscription-table responsive-table highlight">
              <thead>
                <tr>
                  <th>Event</th>
                  <th>Venue</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Guest</th>
                  <th>Speaker</th>
                  <th>Event Status</th>
                  <th> DM Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Event 1</td>
                  <td>Audi 1</td>
                  <td>30-08-2019</td>
                  <td>03-09-2019</td>
                  <td>Guest 1</td>
                  <td>Speaker 1</td>
                  <td><span class="badge pink lighten-5 pink-text text-accent-2">Completed</span></td>
                  <td class="center-align">DM Complete</td>
                </tr>
                <tr>
                  <td>Event 1</td>
                  <td>Audi 1</td>
                  <td>30-08-2019</td>
                  <td>03-09-2019</td>
                  <td>Guest 1</td>
                  <td>Speaker 1</td>
                  <td><span class="badge pink lighten-5 pink-text text-accent-2">Completed</span></td>
                  <td class="center-align">DM Complete</td>
                </tr>
                <tr>
                  <td>Event 1</td>
                  <td>Audi 1</td>
                  <td>30-08-2019</td>
                  <td>03-09-2019</td>
                  <td>Guest 1</td>
                  <td>Speaker 1</td>
                  <td><span class="badge pink lighten-5 pink-text text-accent-2">Completed</span></td>
                  <td class="center-align">DM Complete</td>
                </tr>
                <tr>
                  <td>Event 1</td>
                  <td>Audi 1</td>
                  <td>30-08-2019</td>
                  <td>03-09-2019</td>
                  <td>Guest 1</td>
                  <td>Speaker 1</td>
                  <td><span class="badge pink lighten-5 pink-text text-accent-2">Completed</span></td>
                  <td class="center-align">DM Complete</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
