<app-header></app-header>
<app-leftnav></app-leftnav>
<div id="main">
<router-outlet></router-outlet>
</div>
<!-- <app-footer></app-footer> -->

<script src="assets/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN THEME  JS-->
<script src="assets/js/plugins.js" type="text/javascript"></script>
<script src="assets/js/custom-script.js" type="text/javascript"></script>
<script src="assets/js/customizer.js" type="text/javascript"></script>
<!-- END THEME  JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="assets/js/dashboard-modern.js" type="text/javascript"></script>
<script src="assets/js/intro.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->
<script src="assets/js/form-layouts.js" type="text/javascript"></script>
<!-- BEGIN PAGE VENDOR JS-->
<script src="assets/js/chart.min.js" type="text/javascript"></script>
<script src="assets/js/chartist.min.js" type="text/javascript"></script>
<script src="assets/js/chartist-plugin-tooltip.js" type="text/javascript"></script>
<script src="assets/js/chartist-plugin-fill-donut.min.js" type="text/javascript"></script>


