<style>
  .select-wrapper input.select-dropdown {
    display: none !important;
  }

  select {
    display: block;
  }

  .select-wrapper .caret {
    top: 52px;
    right: -3px;
  }
</style>
<div class="row" style="border-bottom: 1px solid #7b1fa2;">
  <div class="col s12 m6 l10">
    <h4 class="card-title" style="font-size: 20px;">Add Event</h4>
  </div>
</div>
<div class="row" style="margin-top:30px;">
  <form class="col s12" [formGroup]="frmManageEvent">
    <div class="row s6" style="display: none">
      <div class="input-field col s6">
        <input id="eventId" formControlName="eventId" type="text" class="validate">
        <label for="eventId" class="active"> Event Id</label>
      </div>
    </div>
    <div class="row s6">
      <div class="input-field col s6">
        <input id="EName" formControlName="eventName" type="text" class="validate">
        <label class="active" for="EName"> Event Title</label>
      </div>
      <div class="input-field col s6">
        <select id="category" formControlName="eventCategoryId">
          <option value="" selected>Choose Category</option>
          <option *ngFor="let cat of Category" value="1">{{cat.CategoryName}}</option>
        </select>
        <label for="category"></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="StartDate" formControlName="startDateTime" type="date" class="validate">
        <label class="active" for="StartDate"> From Date</label>
      </div>

      <div class="input-field col s6">
        <input id="EndDate" formControlName="endDateTime" type="date" class="validate">
        <label class="active" for="EndDate"> End Date</label>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="Venue" formControlName="venue" type="text" class="validate">
        <label class="active" for="Venue"> Venue</label>
      </div>

      <div class="input-field col s6">
        <input id="Guest" formControlName="guests" type="text" class="validate">
        <label class="active" for="Guest"> Guest</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="Speakers" formControlName="speakers" type="text" class="validate">
        <label class="active" for="Speakers"> Speakers</label>
      </div>

      <div class="input-field col s6">
        <input id="Participants" formControlName="participants" type="text" class="validate">
        <label class="active" for="Participants"> Participants</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="Discrpt" formControlName="eventDescription" class="materialize-textarea"></textarea>
        <label class="active" for="Discrpt"> Description</label>
      </div>
    </div>


    <div class="row">
      <div class="col s12">
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
          <li class="">
            <div class="collapsible-header" tabindex="0"><i class="material-icons">arrow_upward</i>
              Clients Services</div>
            <div class="collapsible-body" style="display:block">
              <div class="row">
                <!-- <div class="col s3">
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>All</span>
                              </label>
                            </p>
                          </div> -->

                <div class="col s3" *ngFor="let service of Services">
                  <p>
                    <label>
                      <input type="checkbox" value="{{service.ServiceId}}" formControlName="serviceIdsOpted"
                        (change)="onChange(service, $event)" />
                      <span>{{service.ServiceName}}</span>
                    </label>
                  </p>
                </div>

              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <button type="submit" (click)="onClose()"
      class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1"
      style="margin-left: 8px">Close</button>

    <button type="submit" (click)="onSubmit()"
      class="mb-6 btn waves-effect float-right waves-light purple lightrn-1 mb-1" style="margin-left: 8px">Save</button>
  </form>
</div>
