<footer
  class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
  <div class="footer-copyright">
    <div class="container"><span>&copy; 2019 <a href="#" target="_blank">DIGITAL MARKETING</a> All rights
        reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="#">DIGITAL
          MARKETING</a></span></div>
  </div>
</footer>