<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-square">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="index.html">
        <img src="assets/images/materialize-logo-color.png" alt="materialize logo" /><span
          class="logo-text hide-on-med-and-down">Materialize</span></a><a class="navbar-toggler"
        href="javascript:void()"><i class="material-icons">radio_button_checked</i></a></h1>
  </div>
  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out"
    data-menu="menu-navigation" data-collapsible="menu-accordion">
    <li class="active bold"><a class="collapsible-header waves-effect waves-cyan " href="javascript:void()"><i
          class="material-icons">all_inclusive</i><span class="menu-title" data-i18n="">Admin</span><span
          class="badge badge pill orange float-right mr-10">3</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li class="active"><a class="collapsible-body active" [routerLink]="['homedash']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Admin</span></a>
          </li>
          <li><a class="collapsible-body" [routerLink]="['users']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Users</span></a>
          </li>
          <li><a class="collapsible-body" [routerLink]="['services']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Services</span></a>
          </li>
          <li><a class="collapsible-body" [routerLink]="['clients']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Clients</span></a>
          </li>
          <li><a class="collapsible-body" [routerLink]="['cstaff']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Client Staff</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="javascript:void()"><i
          class="material-icons">face</i><span class="menu-title" data-i18n="">Client
          Coordinator</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" [routerLink]="['events']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Events</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="javascript:void()"><i
          class="material-icons">invert_colors</i><span class="menu-title" data-i18n="">DM
          Excutive</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" [routerLink]="['dmexcutivenet']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Events</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="javascript:void()"><i
          class="material-icons">touch_app</i><span class="menu-title" data-i18n="">Clients
          Admin</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" [routerLink]="['clientadminevent']" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Events</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="javascript:void()"><i
          class="material-icons">attach_file</i><span class="menu-title" data-i18n="">Reports</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="javascript():void" data-i18n=""><i
                class="material-icons">radio_button_unchecked</i><span>Events</span></a>
          </li>
        </ul>
      </div>
    </li>

  </ul>
  <div class="navigation-background"></div>
  <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
    href="javascript():void" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>
